#comments {
	overflow: auto;
	height: 100%;
}

.comment {
	display: flex;
	border-top: 1px solid #ccc;
	padding: 15px 0;
}

.comment-content {
	flex: 1;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 3px 0 0 5px;
}

.comment-header {
	display: flex;
	justify-content: space-between;
}

.comment-user-name {
	font-weight: bold;
}